{% extends 'myapp/base.html' %} {% block content %}
<style>
    .div-1 {
        background-color: #04169d;
        font-family:Georgia, 'Times New Roman', Times, serif;
        height: 70px;
        margin: 50px;
        border: 2px solid;
        
        }
    
</style>
    
<div class="div-1">
            
            <h2 class="h2" style="color:rgb(158, 244, 212);">Welcome to SM Reservation</h2>
            
</div>
<style>
.h2 {
    color: rgb(51, 9, 222);
    text-align: center;
 }
</style>

{% endblock %}